<div role="region" aria-label="Direktnachrichten">
    <button class="directMessageButton" [attr.aria-expanded]="!showMessages" (click)="showAllMessages()">
        <span class="keyDownUser">
            @if (!showMessages) {
                <span class="material-symbols showMessagesIcon">arrow_drop_down</span>
            }
            @else {
                <span class="material-symbols showMessagesIcon">arrow_right</span>
            }
        </span>
        <span class="directMessage">
            <span class="material-symbols accountCircle">account_circle</span>
            <h2>Direktnachrichten</h2>
        </span>
    </button>
    @if (!showMessages) {
        <ul class="directMessageList" role="list">
            @for (user of activeUsers$ | async; track $index) {
                <li>
                    <button (click)="selectPrivateChat(user.uId); someAction()" class="directUser">
                        <div class="user-img-status">
                            <img [src]="user.uUserImage" [alt]="user.uName + ' Profilbild'" />
                            <span [ngClass]="user.uStatus === 'true' || user.uStatus === true ? 'online' : 'offline'"></span>
                        </div>
                        <span>{{ user.uName }} (Du)</span>
                    </button>
                </li>
                <li *ngFor="let user of inactiveUsers$ | async">
                    <button (click)="selectPrivateChat(user.uId); someAction()" class="directUser">
                        <div class="user-img-status">
                            <img [src]="user.uUserImage" [alt]="user.uName + ' Profilbild'" />
                            <span [ngClass]="user.uStatus === 'true' || user.uStatus === true ? 'online' : 'offline'"></span>
                        </div>
                      <span>{{ user.uName }}</span>
                    </button>
                </li>
            }
        </ul>
    }
</div>
