<header>
    <section>
        <div class="logoText">
            <img src="assets/img/workspaceLogo.png" alt="Devspace Logo">
            <h1>Devspace</h1>
        </div>
        <app-button variant="icon" color="white" icon="edit_square" ariaLabel="Neue Nachricht schreiben" (clicked)="openNewChat()"></app-button>
    </section>
</header>
<app-device-visible mode="tabletBig">
    <app-button class="new-chat-fab" variant="icon" color="blue" icon="edit_square" ariaLabel="Neue Nachricht schreiben" (clicked)="openNewChat(); someAction()"></app-button>
</app-device-visible>

