@use "../../../shared/scss/mixins" as mixins;
@use "../../../shared/scss/variables" as vari;

:host {
  display: block;
  width: 300px;
  margin: 0 auto;
}

header {
  @include mixins.dFlex($justify: space-between, $align: center);
  height: 46px;
  width: 100%;
}

.showChannels {
  @include mixins.dFlex();
  height: 30px;
  width: 30px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.showChannelsIcon {
  font-size: 30px;
}

.channelHeadShow {
  all: unset;
  @include mixins.dFlex($justify: left, $align: center, $gap: 15px);
  width: 180px;
  height: 40px;
  cursor: pointer;
}

.workSpaceText {
  @include mixins.dFlex($justify: left, $align: center, $gap: 10px);
}

.workSpaceIcon,
.addIcon,
.hashtagIcon {
  font-size: 24px;
}

.channelHeadShow:hover .workSpaceIcon,
.channelHeadShow:hover .showChannelsIcon,
.channelHeadShow:hover h2,
.addButton:hover .addIcon,
.addChannel:hover span,
.everyChannel:hover span,
.everyChannel:hover .hashtagIcon {
  color: vari.$purple;
  cursor: pointer;
}

.addButton {
  @include mixins.dFlex();
  height: 30px;
  width: 30px;
  border: none;
  background-color: white;
  border-radius: 50%;
  &:hover {
    background-color: vari.$sky-grey;
  }
}

section {
  @include mixins.dFlex($justify: center, $align: left, $gap: 25px, $direction: column);
  width: 310px;
}

.addChannel {
  @include mixins.dFlex($gap: 9px);
  width: 220px;
  height: 32px;
  margin-left: 32px;
  background-color: white;
  border: none;
  cursor: pointer;
  span {
    font-size: 18px;
    color: black;
    font-weight: 400;
  }
}

.deleteChannel{
  @include mixins.dFlex();
  height: 32px;
  width: 32px;
  border: none;
  background-color: white;
  border-radius: 50%;
  &:hover{
    background-color: vari.$rose !important;
    color: white;
  }
}

.closeIcon{
  font-size: 24px;
}

.everyChannel:hover .deleteChannel{
  background-color: vari.$sky-grey;
}

.everyChannel {
  @include mixins.dFlex($justify: space-between, $align: center);
  height: 35px;
  margin-left: 25px;
  width: 275px;
  padding: 0 20px;
  border-radius: 20px;
  cursor: pointer;
  span {
    font-size: 18px;
    color: black;
    font-weight: 400;
  }
  &:hover {
    background-color: vari.$sky-grey;
  }
}

.tagImage {
  @include mixins.dFlex();
}
.tagName{
  all: unset;
  @include mixins.dFlex($justify: left, $align: center, $gap: 15px);
  cursor: pointer;
}

.newChannels {
  @include mixins.dFlex($justify: flex-start, $align: stretch, $gap: 25px, $direction: column);
  margin-top: 25px;
  list-style: none;
  padding: 0;
}

.addIconChannel {
  height: 20px;
  width: 20px;
  border: 1px solid black;
  border-radius: 50%;
}

.addChannel:hover .addIconChannel {
  color: vari.$purple;
  border-color: vari.$purple;
}

@media (max-width: vari.$bp-tablet) {
  :host {
    margin: 0 0;
    width: 100%;
  }
}

@media(max-width: vari.$bp-mobile-sm){
  .addButton{
    margin-right: 12px;
  }
}
