<div role="region" aria-label="Channels">
    <header>
        <button class="channelHeadShow" [attr.aria-expanded]="!showChannels" (click)="showAllChannels()">
            <span class="showChannels">
                @if (!showChannels) {
                    <span class="material-symbols showChannelsIcon">arrow_drop_down</span>
                }
                @else {
                    <span class="material-symbols showChannelsIcon">arrow_right</span>
                }
            </span>
            <span class="workSpaceText">
                <span class="material-symbols workSpaceIcon">workspaces</span>
                <h2>Channels</h2>
            </span>
        </button>
        <button class="addButton" aria-label="Channel hinzufügen" (click)="toggleAddChannel()">
            <span class="material-symbols addIcon">add</span>
        </button>
    </header>
    @if (!showChannels) {
        <section>
            <ul class="newChannels" role="list">
                @for (channel of channels$ | async; track channel.id) {
                    <li class="everyChannel">
                        <button (click)="selectChannel(channel.id); someAction()" class="tagName">
                            <span class="tagImage">
                                <span class="material-symbols hashtagIcon">tag</span>
                              </span>
                              <span>{{ channel.name }}</span>
                        </button>
                      <button class="deleteChannel" aria-label="Channel löschen" (click)="onDeleteClick(channel.id, $event)">
                        <span class="material-symbols closeIcon">delete</span>
                      </button>
                    </li>
                }
            </ul>
            <button class="addChannel" (click)="toggleAddChannel()">
                <span class="material-symbols addIconChannel">add_circle</span>
                <span>Channel hinzufügen</span>
            </button>
        </section>
    }
    @if (showAddChannel) {
        <app-add-channel [activeUserId]="activeUserId" (close)="toggleAddChannel()"></app-add-channel>
    }

</div>

@if (isPermanentDeleteOpen && openChannelId) {
    <app-permanent-delete
      [target]="'channel'"
      [id]="openChannelId"
      (close)="isPermanentDeleteOpen = false"
    ></app-permanent-delete>
}
