<div role="region" aria-label="Direktnachrichten">
    <button class="directMessageButton" [attr.aria-expanded]="!showMessages" (click)="showAllMessages()">
        <span class="keyDownUser">
            @if (!showMessages) {
                <span class="material-symbols showMessagesIcon">arrow_drop_down</span>
            }
            @else {
                <span class="material-symbols showMessagesIcon">arrow_right</span>
            }
        </span>
        <span class="directMessage">
            <span class="material-symbols accountCircle">account_circle</span>
            <h2>Direktnachrichten</h2>
        </span>
    </button>
    @if (!showMessages) {
        <ul class="directMessageList" role="list">
            @for (user of activeUsers(); track user.id) {
                <li>
                    <button (click)="selectPrivateChat(user.id); closeSidebarOnMobile()" class="directUser">
                        <div class="user-img-status">
                            <img [src]="user.userImage" [alt]="user.name + ' Profilbild'" />
                            <span [ngClass]="user.status ? 'online' : 'offline'"></span>
                        </div>
                        <span>{{ user.name }} (Du)</span>
                    </button>
                </li>
            }
            @for (user of inactiveUsers(); track user.id) {
                <li>
                    <button (click)="selectPrivateChat(user.id); closeSidebarOnMobile()" class="directUser">
                        <div class="user-img-status">
                            <img [src]="user.userImage" [alt]="user.name + ' Profilbild'" />
                            <span [ngClass]="user.status ? 'online' : 'offline'"></span>
                        </div>
                      <span>{{ user.name }}</span>
                    </button>
                </li>
            }
        </ul>
    }
</div>
