@if (isEmojiPickerOpen) {
@defer {
<emoji-mart #emojiPicker (emojiClick)="addEmoji($event)"></emoji-mart>
} @loading {
<div class="emoji-loading">Laden…</div>
}
} @if (displaySuggestions) {
<ul class="suggestions" role="listbox">
  @for(user of foundUsers; track user) {
  <li role="option" (click)="insertUserSuggestion(user)">
    <div class="user-img-status">
      <img src="{{ user?.uUserImage }}" [alt]="user?.uName + ' Profilbild'" />
      <span [ngClass]="user?.uStatus ? 'online' : 'offline'"></span>
    </div>
    <span>{{ user?.uName }}</span>
  </li>
  } @for(channel of foundChannels; track channel) {
  <li role="option" (click)="insertChannelSuggestion(channel)">#{{ channel?.cName }}</li>
  }
</ul>
}

<textarea
  [placeholder]="getPlaceholder()"
  [attr.aria-label]="getPlaceholder()"
  [value]="newMessageText"
  #messageInput
  (input)="onTextChange($event)"
  (keydown)="handleKeyDown($event)"
  rows="2"
></textarea>

<div class="textfield-buttons">
  <div>
    <app-button variant="icon" color="transparent" icon="sentiment_satisfied" ariaLabel="Emoji einfügen" (clicked)="toggleEmojiPicker()"></app-button>
    <app-button variant="icon" color="transparent" icon="alternate_email" ariaLabel="Person erwähnen" (clicked)="openUserSuggestions()"></app-button>
  </div>

  <app-button variant="icon" color="transparent" icon="send" ariaLabel="Nachricht senden" [disabled]="!newMessageText.trim()" (clicked)="sendMessage()"></app-button>
</div>
