<div class="user-menu-wrapper">
  <div class="avatar">
    <span class="avatarNameText">{{ userName }}</span>
    <div class="userStatus">
      <app-device-visible mode="tabletBig">
          <img #tabletToggleBtn (click)="toggleImage()" [src]="userImage" [alt]="userName + ' Profilbild'" />
      </app-device-visible>
      <app-device-visible mode="desktopBig">
        <img class="normalImage" (click)="toggleImage()" [src]="userImage" [alt]="userName + ' Profilbild'" />
        <span class="normalImagePoint" [ngClass]="userStatus === 'true' || userStatus === true ? 'online' : 'offline'" [attr.aria-label]="userStatus === 'true' || userStatus === true ? 'Online' : 'Abwesend'"></span>
      </app-device-visible>
    </div>
  </div>
  <button class="openLogOut" (click)="toggleLogOut()" [attr.aria-expanded]="isLogOutVisible" aria-label="Benutzermenü" #arrowToggleBtn>
    <span class="arrowDownHeight material-symbols arrowDown">keyboard_arrow_down</span>
  </button>
</div>
@if (isLogOutVisible) {
  <div role="menu" aria-label="Benutzermenü">
    <div class="popUpStyle" @slideUpDown [@.disabled]="windowSize > 1000">
      <app-device-visible mode="tabletBig">
          <div class="popUpXLine"></div>
      </app-device-visible>
      <div class="logOut" #logOutBox>
        <button role="menuitem" (click)="openProfil()">
          <span class="material-symbols">account_circle</span>
          <span>Profil</span>
        </button>
        <button role="menuitem" (click)="logOut()">
          <span class="material-symbols">logout</span>
          <span>Log out</span>
        </button>
      </div>
    </div>
  </div>
}
<div #profilWrapper>
  @if (showProfil) {
    <app-profil
    [activeUserId]="activeUserId ?? ''"
    [userImage]="userImage"
    [userName]="userName"
    [userEmail]="userEmail"
    [userStatus]="userStatus === true || userStatus === 'true'"
    [userId]="userId ?? ''"
    #profilRef
    (close)="showProfil = false"
    (openChat)="openChat.emit($event)" 
    size="small"
    [showButton]="false"
  ></app-profil>
  }
</div>
