// Colors
$sky-grey: #eceefe;
$gainsboro: #e6e6e6;
$dark-blue: #444df2;
$light-blue: #797ef3;
$gray: #686868;
$purple: #535AF1;
$white: #FFFFFF;
$black: #000000;
$rose: #ED1E79;
$online-green: #92c83e;
$hover-border: #adb0d9;

// Breakpoints
$bp-xl: 1600px;
$bp-desktop: 1200px;
$bp-tablet: 1000px;
$bp-mobile: 600px;
$bp-mobile-sm: 450px;
