@if (showAnimation) {
  <div class="logo">
    <app-icon name="da-bubble-logo" />
  
    <span>DABubble</span>
  </div>
}
@else {
  <app-logo></app-logo>
}

@if (componentSwitcher.currentComponent() === LoginComponent) {
  <div class="sign-in-container">
    <p>Neu bei DABubble?</p>

    <app-button color="transparent" [disabled]="!isButtonVisible()" (click)="changeComponent('signin')">
      Konto erstellen
    </app-button>
  </div>
}

<div class="card">
  <ng-container *ngComponentOutlet="componentSwitcher.currentComponent()"></ng-container>
</div>

@if (componentSwitcher.currentComponent() !== PrivacyComponent && componentSwitcher.currentComponent() !== ImprintComponent) {
  <footer>
    <app-button color="transparent" [disabled]="!isButtonVisible()" (click)="changeComponent('imprint')">
      Impressum
    </app-button>
    <app-button color="transparent" [disabled]="!isButtonVisible()" (click)="changeComponent('privacy')">
      Dateschutz
    </app-button>
  </footer>
}
