@use "../../../../shared/scss/mixins" as mixins;
@use "../../../../shared/scss/variables" as vari;
@use "../../../../shared/scss/overlays" as overlays;
@use "../../../../shared/scss/buttons" as buttons;

section {
  position: absolute;
  top: 192px;
  right: 104px;
  width: 416px;
  height: 416px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 30px 0px 30px 30px;
  @include mixins.dFlex($justify: initial, $align: initial, $gap: 20px, $direction: column);
}

.overlay {
  @include overlays.overlay(0.5, 99);
}

.hidden {
  display: none !important;
}

app-add-new-members{
  position: absolute;
  top: 192px;
  right: 20px;
  width: 500px;
  height: 290px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 30px 0px 30px 30px;
  @include mixins.dFlex($justify: initial, $align: initial, $gap: 20px, $direction: column);
}

.closeChannelMember {
  @include buttons.closeBtn();
}

.memberlist-header {
  width: 100%;
  @include mixins.dFlex($justify: space-between, $align: center);
}

@media (max-width: vari.$bp-mobile) {
  section {
    right: 50%;
    transform: translateX(50%);
  }
}

@media (max-width: vari.$bp-mobile-sm) {
  section{
    border-radius: 0px;
    width: 100%;
    padding: 40px 20px;
  }
}
