@use "../../shared/scss/variables" as vari;
@use "../../shared/scss/mixins" as mixins;
@use "../../shared/scss/overlays" as overlays;
@use "../../shared/scss/buttons" as buttons;

.channel-leave-overlay {
  @include overlays.overlay(0.4, 90);
}

section {
  @include mixins.dFlex($justify: flex-start, $align: stretch, $gap: 20px, $direction: column);
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  height: fit-content;
  width: 870px;
  border-radius: 0 30px 30px 30px;
  padding: 40px;
}

header {
  @include mixins.dFlex($justify: space-between);
  height: 40px;
  width: 100%;
  div {
    @include mixins.dFlex($justify: left, $gap: 15px);
    height: 100%;
    width: 220px;
    img {
      height: 30px;
      width: 30px;
    }
  }
}

.scrollContainer{
  @include mixins.dFlex($justify: flex-start, $align: stretch, $gap: 20px, $direction: column);
}

.memberListMobile{
  display: none;
}

.channelHashtagName {
  @include mixins.dFlex($justify: left, $gap: 10px);
  width: auto;
  img {
    height: 24px;
    width: 24px;
  }
  span {
    font-size: 18px;
    color: black;
    font-weight: 400;
  }
}

.closeChannelLeave {
  @include buttons.closeBtn();
  div {
    @include mixins.dFlex();
    font-size: 24px;
  }
}

.nameBox {
  @include mixins.dFlex($justify: space-between, $align: stretch, $gap: 20px, $direction: column);
  height: 110px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid vari.$hover-border;
  padding: 20px;
}

.nameSaveBox {
  @include mixins.dFlex($justify: space-between, $align: stretch, $gap: 15px, $direction: column);
  height: 110px;
  width: 100%;
  border: none;
}

.boxEdit {
  @include mixins.dFlex($justify: space-between);
  height: 25px;
}

.saveBox {
  @include mixins.dFlex($justify: space-between);
  height: 25px;
  width: 770px;
  button {
    font-size: 18px;
    color: vari.$purple;
    font-weight: 600;
    background-color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 50px;
    cursor: pointer;
    &:hover {
      background-color: vari.$sky-grey;
    }
  }
}

.editChannelName {
  @include mixins.dFlex($gap: 15px);
  width: 100%;
  height: 60px;
  padding: 0px 20px;
  border-radius: 40px;
  border: 1px solid vari.$hover-border;
  img {
    height: 24px;
    width: 24px;
  }
  input {
    width: 100%;
    border: none;
    font-size: 18px;
    outline: none;
    height: 25px;
  }
}

.descriptionBox {
  @include mixins.dFlex($justify: space-between, $align: stretch, $gap: 20px, $direction: column);
  height: 280px;
  width: 100%;
  padding: 20px;
  border: 1px solid vari.$hover-border;
  border-radius: 20px;
}

.descriptionSaveBox {
  @include mixins.dFlex($justify: space-between, $align: stretch, $gap: 25px, $direction: column);
  height: 250px;
  width: 100%;
}

.descriptionSaveOutBox {
  @include mixins.dFlex($justify: space-between, $align: stretch, $gap: 25px, $direction: column);
  height: 280px;
  width: 100%;
}

.inputDescription {
  @include mixins.dFlex($justify: flex-start);
  width: 100%;
  height: 60px;
  border: 1px solid vari.$hover-border;
  padding: 0 20px;
  border-radius: 30px;
  textarea {
    height: 25px;
    width: 750px;
    outline: none;
    border: none;
    resize: none;
    font-family: "Nunito", sans-serif;
  }
}

.errorText{
  color: vari.$rose;
}

.editOverMobil{
  @include mixins.dFlex($justify: flex-start, $align: stretch);
}

.editButton{
  font-size: 18px;
  color: vari.$purple;
  font-weight: 600;
  background-color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 50px;

  cursor: pointer;
  &:hover {
    background-color: vari.$sky-grey;
  }
}

.editOverTablet {
  display: none;
  height: 40px;
  width: 40px;
}

.descriptionBoxText {
  height: 60px;
  overflow-y: auto;
}

.descriptionText {
  @include mixins.dFlex($justify: space-between, $align: stretch, $gap: 20px, $direction: column);
  height: 110px;
}

.creatorXLine {
  @include mixins.dFlex($justify: flex-start, $align: stretch, $gap: 20px, $direction: column);
}

.creatorBox {
  height: 80px;
}

.xLine {
  width: 100%;
  border: 1px solid vari.$hover-border;
}

.xLineSave {
  width: 740px;
  border: 1px solid vari.$hover-border;
  margin: 0 auto;
}

.userCreator {
  @include mixins.dFlex($justify: space-between, $align: stretch, $direction: column);
  height: 80px;
  width: 100%;
  span {
    font-size: 24px;
    color: vari.$purple;
    font-weight: 400;
  }
}

.channelLeaveButton {
  @include mixins.dFlex($justify: end);
  width: 100%;
  height: 50px;
  button {
    font-size: 18px;
    color: white;
    font-weight: 700;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    background-color: vari.$dark-blue;
    border: none;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}

@media (max-width: vari.$bp-tablet) {
  section {
    width: 90%;
  }
  .saveBox {
    width: 100%;
  }
  .xLineSave {
    width: 100%;
  }
}

@media (max-width: vari.$bp-mobile) {
  main {
    @include mixins.dFlex($justify: flex-start, $align: stretch, $direction: column);
    height: 100vh;
  }
  .scrollContainer {
    @include mixins.dFlex($justify: initial, $align: initial, $gap: 20px, $direction: column);
    overflow-y: auto;
    flex: 1;
    min-height: 0;
  }

  .saveBox{
    height: 40px
  }

  .editOverTablet{
    @include mixins.dFlex();
    height: 40px;
    width: 40px;
  }

  .editOverMobil{
   display: none;
  }

  .scrollContainer::-webkit-scrollbar-track {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  section {
    @include mixins.dFlex($justify: initial, $align: initial, $gap: 20px, $direction: column);
    height: 100%;
    flex: 1;
    min-height: 0;
    width: 100%;
    border-radius: 0px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 40px 0;
  }

  header{
    padding: 0 40px;
  }

  .scrollContainer{
    padding: 0 40px;
  }

  .memberAdd{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 90;
  }

  app-add-new-members {
    @include mixins.dFlex($justify: flex-start, $align: stretch, $gap: 25px, $direction: column);
    position: absolute;
    top: auto;
    right: auto;
    bottom: 0;
    width: 100%;
    height: 340px;
    border-radius: 30px 30px 0 0;
    background-color: white;
    z-index: 100;
    padding: 20px
  }

  .memberListMobile {
    @include mixins.dFlex($justify: left);
    width: 100%;
    border: 1px solid vari.$hover-border;
    border-radius: 20px;
    padding: 30px 20px;
  }
}

@media (max-width: vari.$bp-mobile-sm) {
  .scrollContainer {
    padding: 0 8px;
  }
  header{
    padding: 0 8px;
  }
  .memberListMobile{
    @include mixins.dFlex();

    padding: 20px 0;
  }
  .mobileHeadlineMember{
    padding: 0 20px;
  }
}
