<button type="button" class="arrow" aria-label="Zurück zum Login" (click)="router.navigate(['/auth/login'])">
  <app-icon name="arrow-back" />
</button>

<form [formGroup]="confirmForm" (ngSubmit)="onSubmit()">
  <h1>Passwort zurücksetzen</h1>

  <span>Bitte geben Sie Ihre E-Mail-Adresse ein.</span>

  <div class="input-container">
    <app-custom-input
      type="email"
      name="email"
      placeholder="beispielname@email.com"
      formControlName="conEmail"
    >
      <app-icon icon name="email" />
    </app-custom-input>

    @if (confirmForm.get('conEmail')?.invalid && confirmForm.get('conEmail')?.touched) {
      @if (confirmForm.get('conEmail')?.errors?.['required']) {
        <small>*E-Mail ist erforderlich.</small>
      }
      @if (confirmForm.get('conEmail')?.errors?.['email'] || confirmForm.get('conEmail')?.errors?.['pattern']) {
        <small>*Bitte gib eine gültige E-Mail-Adresse ein.</small>
      }
    }

    @if (findEmail) {
      <small>{{ findEmail }}</small>
    }
  </div>

  <p>Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.</p>

  <div class="btn-container">
    <app-button type="submit" [disabled]="confirmForm.invalid">E-Mail senden</app-button>
  </div>
</form>

<app-success-indicator [visible]="isConfirmationVisible || !isButtonVisible()">E-Mail gesendet</app-success-indicator>
