@use "../../../shared/scss/mixins" as mixins;
@use "../../../shared/scss/variables" as vari;

header{
    width: 310px;
    padding-top: 30px
}

section{
    @include mixins.dFlex($justify: space-between, $align: center);
    height: 60px;
}

.logoText{
    @include mixins.dFlex($justify: left, $align: center, $gap: 15px);
    width: 250px;
    img{
        height: 60px;
        width: 60px;
    }
}

@media(max-width: vari.$bp-tablet){
    header{
        display: none;
    }

    .new-chat-fab {
        position: absolute;
        bottom: 64px;
        right: 40px;

        ::ng-deep button {
            width: 60px;
            height: 60px;
            font-size: 28px;
        }
    }
}

@media(max-width: vari.$bp-mobile-sm){
    .new-chat-fab {
        right: 8px;
    }
}
