<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h1>Anmeldung</h1>

  <p>
    Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
    verwendest.
  </p>

  <div class="input-container">
    <app-custom-input
      type="email"
      name="email"
      placeholder="beispielname@email.com"
      formControlName="email"
    >
      <app-icon icon name="email" />
    </app-custom-input>

    @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
      @if (loginForm.get('email')?.errors?.['required']) {
        <small>*E-Mail ist erforderlich.</small>
      }
      @if (loginForm.get('email')?.errors?.['email'] || loginForm.get('email')?.errors?.['pattern']) {
        <small>*Bitte gib eine gültige E-Mail-Adresse ein.</small>
      }
    }
  </div>

  <div class="input-container">
    <app-custom-input
      type="password"
      name="password"
      placeholder="Passwort"
      formControlName="password"
    >
      <app-icon icon name="lock" />
    </app-custom-input>

    @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
      @if (loginForm.get('password')?.errors?.['required']) {
        <small>*Passwort ist erforderlich.</small>
      }
      @if (loginForm.get('password')?.errors?.['minlength']) {
        <small>*Passwort muss mindestens 8 Zeichen lang sein.</small>
      }
    }

    @if (authError) {
      <small>{{ authError }}</small>
    }
  </div>

  <app-button color="sky-grey" [disabled]="!isButtonVisible()" (click)="changeComponent('conMail')">
    Passwort vergessen?
  </app-button>

  <div class="or-container">
    <span> ODER </span>
  </div>

  <app-button color="gray" [disabled]="!isButtonVisible()" (clicked)="onLoginWithGoogle()">
    <app-icon name="google-logo" />
    Anmelden mit Google
  </app-button>

  <div class="btn-container">
    <app-button type="submit" [disabled]="loginForm.invalid || !isButtonVisible()">
      Anmelden
    </app-button>
    <app-button color="white" [disabled]="!isButtonVisible()" (clicked)="onLoginAsGuest()">
      Gäste-Login
    </app-button>
  </div>
</form>

<app-success-indicator [visible]="isConfirmationVisible">Sie sind jetzt angemeldet</app-success-indicator>
