@use '../../shared/scss/mixins' as mixins;
@use '../../shared/scss/variables' as vari;
@use '../../shared/scss/overlays' as overlays;

.overlay {
  @include mixins.dFlex();
  @include overlays.overlayFixed();
}

.modal {
  background: vari.$white;
  border-radius: 30px;
  padding: 45px 40px;
  width: min(90%, 480px);
  text-align: center;

  h2 {
    margin-bottom: 32px;
    font-size: 22px;
  }

  .button-row {
    @include mixins.dFlex($gap: 24px);
  }
}
