<div class="memberlist">
    <ul class="members" role="list">
      @for (member of channelMembers; track member) {
        <li>
          <button class="member-btn" (click)="showProfil.emit(member)">
            <div class="user-img-status">
              <img src="{{ member?.uUserImage }}" [alt]="member?.uName + ' Profilbild'" />
              <span [ngClass]="member?.uStatus ? 'online' : 'offline'"></span>
            </div>
            <span>{{ member?.uName }}
              @if (member.uId === activeUserId) {
                <span>(Du)</span>
              }
            </span>
          </button>
        </li>
      }
    </ul>
    <button class="add-member" (click)="addMember.emit()">
      <span class="material-symbols add-person-icon">person_add</span>
      <span>Mitglieder hinzufügen</span>
    </button>
  </div>
