@use "../../shared/scss/mixins" as mixins;
@use "../../shared/scss/variables" as vari;

nav {
  @include mixins.dFlex($justify: initial, $align: initial, $gap: 25px, $direction: column);
  width: 390px;
  height: 100%;
  min-height: 0;
  padding: 0 30px 30px 30px;
  background-color: white;
  border-radius: 30px;
  overflow: hidden;
}

section {
  flex: 1 1 0;
  min-height: 0;
  overflow-y: auto;
  @include mixins.dFlex($justify: initial, $align: initial, $gap: 25px, $direction: column);
}

section::-webkit-scrollbar-track{
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (max-width: vari.$bp-tablet) {
  nav {
    @include mixins.dFlex($justify: flex-start, $align: flex-start, $gap: 16px, $direction: column);
    width: 100%;
    padding: 0 24px 24px 24px;
  }
}
@media (max-width: vari.$bp-mobile-sm) {
  nav {
    padding: 0;
  }
  nav::-webkit-scrollbar {
    display: none;
  }
}
