<nav class="nunitoFont" aria-label="Kontakte und Channels">
  <app-header-bar (toggleMessage)="messageInToggle.emit($event)" (openChat)="onChatOpen($event)"></app-header-bar>
  <section>
    <app-channels
      (toggleMessage)="messageInToggle.emit($event)"
      [activeUserId]="activeUserId"
      [isGuest]="isGuest()"
      (openChat)="onChatOpen($event)"
    ></app-channels>
    @if (!isGuest()) {
    <app-direct-message
      (toggleMessage)="messageInToggle.emit($event)"
      [activeUserId]="activeUserId"
      (openChat)="onChatOpen($event)"
    ></app-direct-message>
    }
  </section>
</nav>
